.content-box {
    Overflow-y: scroll;
    background-color: #313338;
    height: calc(100vh - 68px);
}

.messages {
    height: 150 px;
    Overflow-y: scroll;
}

.message {
    border-collapse:collapse;
}

/*  TODO later???
.message#hover {
    background-color: #2E3035;
} */