    <div class="content-box">
    <table>
        <thead>
            <th>Messages:</th>
        </thead>
                
            <div [ngSwitch]="currentRoute">
                
                <div *ngSwitchCase="'/skewl/welcome'">
                    <tr *ngFor="let mes of configService.messages"  style = "border:1px solid black;">
                        <div *ngIf=" mes.server==='skewl' && mes.channel==='welcome'">
                            <td class="message">{{mes.text}}</td>
                        </div>            
                    </tr>
                </div>  

                <div *ngSwitchCase="'/skewl/general'">
                    <tr *ngFor="let mes of configService.messages" style = "border:1px solid black;">
                        <div *ngIf=" mes.server==='skewl' && mes.channel==='general'">
                            <td>{{mes.text}}</td>        
                        </div>            
                    </tr>
                </div>  

                <div *ngSwitchCase="'/skewl/server-specific'">
                    <tr *ngFor="let mes of configService.messages" style = "border:1px solid black;">
                        <div *ngIf=" mes.server==='skewl' && mes.channel==='server-specific'">
                            <td>{{mes.text}}</td>        
                        </div>            
                    </tr>
                </div>  

                <div *ngSwitchCase="'/gym/welcome'">
                    <tr *ngFor="let mes of configService.messages" style = "border:1px solid black;">
                        <div *ngIf=" mes.server==='gym' && mes.channel==='welcome'">
                            <td>{{mes.text}}</td>        
                        </div>            
                    </tr>
                </div>  

                <div *ngSwitchCase="'/gym/general'">
                    <tr *ngFor="let mes of configService.messages" style = "border:1px solid black;">
                        <div *ngIf=" mes.server==='gym' && mes.channel==='general'">
                            <td>{{mes.text}}</td>        
                        </div>            
                    </tr>
                </div>  

                <div *ngSwitchCase="'/gym/server-specific'">
                    <tr *ngFor="let mes of configService.messages" style = "border:1px solid black;">
                        <div *ngIf=" mes.server==='gym' && mes.channel==='server-specific'">
                            <td>{{mes.text}}</td>        
                        </div>            
                    </tr>
                </div>  
                
                <div *ngSwitchCase="'/boys_only/general'">
                    <tr *ngFor="let mes of configService.messages" style = "border:1px solid black;">
                        <div *ngIf=" mes.server==='boys_only' && mes.channel==='general'">
                            <td>{{mes.text}}</td>        
                        </div>            
                    </tr>
                </div>  

                <div *ngSwitchCase="'/boys_only/welcome'">
                    <tr *ngFor="let mes of configService.messages" style = "border:1px solid black;">
                        <div *ngIf=" mes.server==='boys_only' && mes.channel==='welcome'">
                            <td>{{mes.text}}</td>        
                        </div>            
                    </tr>
                </div>  

                <div *ngSwitchCase="'/boys_only/server-specific'">
                    <tr *ngFor="let mes of configService.messages" style = "border:1px solid black;">
                        <div *ngIf=" mes.server==='boys_only' && mes.channel==='server-specific'">
                            <td>{{mes.text}}</td>        
                        </div>            
                    </tr>
                </div>           

            </div>  <!-- div for parent ngSwitch class -->

            <!-- how to check for only messages with a specific server / channel? -->
            <!-- have 9 different post requests (ex: postskewlwelcome, postskewlgeneral postboysonlywelcome...)
            in the message controller file? -->
            <!-- next step: figure out how to send a message with its current server and channel -->

    </table>
</div>
