.content-box {
    Overflow-y: scroll;
    margin-bottom: 0px;
    background-color: #313338;
    height: calc(100vh - 68px);
    padding: 12px;

}

.messages {
    height: 150 px;
    Overflow-y: scroll;
}

.message {
    border-collapse: collapse;
}