
/** in general */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
/*
    idea: snap message box thing to bottom right
    of 2nd left component
*/

.message-form {

    /* Note: position needs to be relative so send button calibrates off of correct element*/
    position: relative;

    /* height: 100vh; */
    height: 68px;

    /* message form is the red thing that contains both the input box and the send message button */
    /** goal: make messageform at the bottom 
    /* of the page */
    /* temporary thing, will probably break 
    once we introduce div for message box */
    /* max-height: 300px; */
    /* margin: 30px auto; */
    /* TODO: red border = contains message 
    form + send button on right */
    /* margin-bottom: 0px; */
    /* border: 1px solid rgb(195, 69, 49);  */
    /* background-color: #313338; */
    /* margin-bottom: 0px; */
}

.btn-block {
    justify-content: center;
    display: flex;
}

.input-box {
    /* max-width: 300px; */
    /* margin: 100px; */
    height: 44px;
    overflow: hidden;
    /* max-height: 300px; */
    /* height: 3px; */
    /* TODO: eventually make border invisible,
    we just have it for visibility purposes 
    right now */

    padding-right: 14px;
    /* what we need to modify for the right sidevvv */
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 3px;
    border-radius: 8px;
    /* height: 100vh; */
    background-color: #35373C;
}

::placeholder {
    color: #6D6F78;
}

.input:focus {
    border-color: #35373C;
}
