<!-- class means class in css -->
<!-- WHY IS ONSUBMIT NOT WORKING@??!?!?!? -->
<form #messageForm="ngForm" class="message-form" (ngSubmit)="onSubmit(messageForm)">

    <div class="input-box">
        <!-- TODO Eventually I want it to say "Message {name of channel}"-->
        <!-- ngModel = probably where it stores data about the message
        (in this ) -->
            
        <!-- TODO: goal rn: find out how to attatch current route server and channel values to the message when we press submit -->
        <input type="text" [(ngModel)]="text" name="text" id="text" placeholder="Enter Text" style="border: hidden; color: #f2f3f5;">
    </div>
<!-- one of two ways we can do this maybe 1) create two hidden forms with server and channel as the values so we 
can pass them to the form value and that way make the json parsing in postmessage happy
other way is to define a json object with the form text, server, and channel values then pass it to the 
postmessage to make it happy. I like the second way more but don't know how to do it yet -->
    <div>
        <!-- not [(ngModel)]="text", not type="text", not id="text", so probably nothing here -->
        <input name="server" hidden ngModel>
        <input name="channel" hidden ngModel>
    </div>

    <!-- TODO: replace airplane w paper airplane from one of the websites -->
    <input style="display: none;" type="submit" class="btn btn-block"/>
</form>