.message-form {
    position: relative;
    margin-top: 0px;
    height: 68px;
    z-index:0;
}

.btn-block {
    justify-content: center;
    display: flex;
}

.input-box {
    height: 44px;
    overflow: hidden;
    padding-right: 14px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 3px;
    border-radius: 8px;
    background-color: #35373C;
}

::placeholder {
    color: #6D6F78;
}

.input:focus {
    border-color: #35373C;
}