.message-form {

    /* Note: position needs to be relative so send button calibrates off of correct element*/
    position: relative;

    height: 68px;
}

.btn-block {
    justify-content: center;
    display: flex;
}

.input-box {
    /* max-width: 300px; */
    /* margin: 100px; */
    height: 44px;
    overflow: hidden;
    /* max-height: 300px; */
    /* height: 3px; */
    /* TODO: eventually make border invisible,
    we just have it for visibility purposes 
    right now */

    padding-right: 14px;
    /* what we need to modify for the right sidevvv */
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 3px;
    border-radius: 8px;
    /* height: 100vh; */
    background-color: #35373C;
    /* existing styles */
}

::placeholder {
    color: #6D6F78;
}

.input:focus {
    border-color: #35373C;
}