.formBox {

    padding-left: 25px;
    padding-right: 5px;
    padding-top: 5px;
    border-radius: 5px;
    text-align: center;
    height: 275px;
    width: 450px;
    display: flex;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-width: 15px;
    background-color: #313338;
}

input {
    color: #DBDEE1;
}