.user-box {
    background-color: #232428;
    position: fixed;
    bottom: 0;
    width: 225px;    
    height: 45px;
}

.btn {
    display: inline;
    background-color: #232428;
    border-radius: 5px;
    text-transform: none;
}

.btn:hover {
    background-color: #404249;
}
