

    <div class="channel-column">
        <!-- <nav class="nav"> -->
    <!-- <table> -->
        <!-- <li class="list"> -->
            <div [ngSwitch]="currentRoute">
                
                <!-- ul: extends to end of screen, curvable, idk -->
                <!-- li: better fitted, cons: bullet point -->
                <ol class="serverlink" style="list-style: none;">
                    
                    <li > <!--[routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" are two css classes basically -->
                        <!-- I think they make the messages take longer to load to I did not include them 
                            although that might just be my parents slow internet-->
                            <a
                            routerLink="/{{splicedChannel}}/welcome"
                            routerLinkActive="active" 
                            ariaCurrentWhenActive="page"
                            >
                            <!-- how to determine whether a page is active -->
                            <!-- <span style="color: black" hover># </span> -->
                            # welcome
                        </a>
                        
                    </li>
                    
                <li>
                    <a
                    routerLink="/{{splicedChannel}}/general"
                    routerLinkActive="active" 
                    ariaCurrentWhenActive="page"
                    >
                    <!-- how to determine whether a page is active -->
                    # general
                </a>
            </li>
            
            <li>
                <a
                routerLink="/{{splicedChannel}}/server-specific"
                
                routerLinkActive="active" 
                    ariaCurrentWhenActive="page"
                    >
                    <!-- is this where we display server-specific channel names (referring to routerLink= line) -->
                    <!-- how to determine whether a page is active -->
                    # server-specific
                </a>
            </li>
            
        </ol>
        

        <app-user-box></app-user-box>
    
    </div>
    
    <!-- </table> -->
    
