<div class="channel-column">
    <div [ngSwitch]="currentRoute">
                
        <ol class="serverlink" style="list-style: none;">

            <li routerLinkActive="active" >
                <a routerLinkActive="active" routerLink="/{{splicedChannel}}/welcome" ariaCurrentWhenActive="page"># welcome</a>
            </li>
                    
            <li routerLinkActive="active">
                <a routerLinkActive="active" routerLink="/{{splicedChannel}}/roles" ariaCurrentWhenActive="page"># roles</a>
            </li>
            
            <li routerLinkActive="active">
                <a routerLinkActive="active" routerLink="/{{splicedChannel}}/announcements" ariaCurrentWhenActive="page" ># announcements</a>
            </li>
            
        </ol>
        
    <app-user-box></app-user-box>
    
    <button *ngIf="this.splicedChannel !== 'servername' && canDelete" class="btn" (click)="deleteServer()">Delete server</button>
            
    </div>
</div>
    
