.server-column {
    /* filter: grayscale(100%); */
    float: left;
    width: 75px;
    /* height: 660px;  */
    /* height: max-content; */
    /* margin-bottom: 0px; */
    /* height: 100%; */
    background-color: #1E1F22;
    height: 100vh;
}

.nav {
    background-color: purple;
}

.list {
    margin-bottom: 5px;
    justify-content: center;
    margin-left: calc(27px/2);
    border-radius:50%;
}

.formBox {
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 5px;
    padding: relative;
    text-align: center;
    margin: 0 auto;
    /* max-width: 350px; */
    height: 325px;
    width: 500px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
    /* These three next commands are used to justify it in
    the center of the screen on top of the other elements
    on the screen without effecting them*/
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-width: 10px;
    background-color: #313338;
    /* filter: grayscale(100000%); */

}


input {
    color: #DBDEE1;
}