<div class="server-column">
    <!-- <nav class="nav"> -->
        <ul>
            <li class="list">
                <!-- TODO: replace words w server icons later -->
                <a
                routerLink="/school/general" 
                routerLinkActive="active" 
                ariaCurrentWhenActive="page">
                🏫👩🏼‍🏫🍎
                </a>

            </li>
            
            <li class="list">
                <a
                routerLink="/gym/general" 
                routerLinkActive="active" 
                ariaCurrentWhenActive="page">
                💪🏋🏼‍♀️💪
                </a>
            </li>

            <li class="list">
                <a
                routerLink="/camping/general" 
                routerLinkActive="active" 
                ariaCurrentWhenActive="page">
                ⛺️🥾⛺
                </a>
            </li>
        </ul>
        

    <!-- </nav> -->
</div>

