<div class="server-column">
    <!-- <nav class="nav"> -->
        <ul>

        <!-- TEST -->
        <!-- <div *ngFor="let entry of serverToFileMap | keyvalue">
            <img [src]="getImageUrl(entry.value)" alt="Server Image">
            <p>{{ entry.key.name }}</p>
        </div> -->
        <!-- TODO uncomment once I have this figured out -->
        <tr *ngFor="let url of imageUrls" style="border:none;">
        <!-- ...bruh -->
            <li class="list">
                <a
                routerLink="//general" 
                routerLinkActive="active" 
                ariaCurrentWhenActive="page">
                <img src="{{url}}" alt="test Icon" width="48" height="48" style="border-radius:50%;">
            </a>

            </li>   
            </tr>
        </ul>
        <ul>
            <li class="list">

                <img src="http://localhost:3000/servers/server-icon/testschool.png" alt="Add Server Icon" width="48" height="48" style="border-radius:50%;" (click)="showBox = !showBox">
            </li>

        </ul>
                <!-- <td>{{mes.text}}</td> -->
        <!-- </tr> -->
        <!-- Your box content here -->
        
        <!-- </nav> -->
</div>

<div *ngIf="showBox"  style="text-align: center; margin: 0 auto; max-width: 350px; height: 150px">

    <form #messageForm="ngForm" (ngSubmit)="onSubmit(messageForm)" enctype="multipart/form-data">
        
        <!-- I plan on cleaning this stuff up later -->
        <label for="name">Server Name:</label>
        <input [(ngModel)]="name" type="text" id="name" name="name">
        <!-- Does not have ngModel trait because we parse it in a different way in the typescript -->
        <input type="file" id="file" name="image">
        
        <input type="submit" value="submit" width="48" height="48">
    
    </form>

</div>