.server-column {
    float: left;
    padding-top: 10px;
    width: 75px;
    background-color: #1E1F22;
    height: 100vh;
}

img {
    border-radius: 50%;
}

img.active {
    border-radius: 32.5%;
}

ul {
    margin: 0px;
    padding: 0px;
}

.list {
    margin-bottom: 4px;
    justify-content: center;
    margin-left: calc(27px/2);
}

input {
    color: #DBDEE1;
}
