<div class="content-box">

    <table>
        <thead>
            <th>Messages:</th>

            <p>{{currentRoute}}</p>

            <!-- goal: if server is in school, display icky, else, display not icky -->
            <!-- or literally some other simple thing just to get familiar w *ngIf. 
            Next we need to custumise it if we are on a specific server. This would be
            the next big step we are working on -->
            <!-- <div *ngIf="currentRoute; then else notschool">
                icky
            </div>
            <ng-template #school>
                icky
            </ng-template>
        
            <ng-template #not school>
                not icky
            </ng-template> -->
        </thead>
        <tr *ngFor="let mes of configService.messages" style = "border:1px solid black;">
            <td >{{mes.text}}</td> <!-- style="border:1px solid black;" -->
        </tr>
    </table>
</div>
