.user-column {
    position: absolute;
    /* overflow: hidden gets rid of scroll bar (problem we have been having) (actually, plot twist, no it does not  */
    overflow: hidden; 
    /* float: right; */
    width: 225px;
    right: 0;
    top: 0;
    margin-left:300px;
    /* height: 660px; */
    /* height: 100%; */
    /* margin-bottom: 0px; */
    /* height: 100%; */
    Overflow-y: scroll;
    background-color: #2B2D31;
    height: 100vh;
    color: #F2F3F5;
    
}