<div class="user-column">
        <table class="user-table">
            <thead>
                <th>Users:</th>
            </thead>
                    
                        <tr *ngFor="let user of configService.users"  style = "border:none;">
                                <td>{{user.displayName}}</td>
                        </tr>
    
    
                <!-- how to check for only messages with a specific server / channel? -->
                <!-- have 9 different post requests (ex: postskewlwelcome, postskewlgeneral postboysonlywelcome...)
                in the message controller file? -->
                <!-- next step: figure out how to send a message with its current server and channel -->
    
        </table>
    
</div>