<div class="user-column">
        <!-- <table class="user-table"> -->
            <!-- <thead> -->
                <th style="font-weight: 500; font-size: 12px; color: #B5BAC1; border-left: 20px">USERS--{{configService.users.length}}</th>
            <!-- </thead> -->
                    
                        <tr *ngFor="let user of configService.users"  style = "border:none; padding-bottom: 0px; top: 0px">
                            <td style="padding-left: 10px; width: 200px; vertical-align: middle; border-radius: 5px">
                                <img src="../../../../../assets/profile-images/{{user.color}}.png" alt="User Icon" width="30" height="30" style="border-radius: 50%; display: inline">
                                <!-- <img src="../../../../../assets/profile-images/{{user.color ? user.color : 'white'}}.png" alt="User Icon" width="30" height="30" style="border-radius: 50%; display: inline"> -->
                                <p style="display: inline; margin: 5px; font-size: 16px; ">
                                    {{user.name}}
                                </p>
                            </td>
                        </tr>
        <!-- </table> -->
</div>