.user-column {
    position: absolute;
    overflow: hidden; 
    width: 225px;
    right: 0;
    top: 0;
    Overflow-y: scroll;
    background-color: #2B2D31;
    height: 100vh;
    color: #F2F3F5;
    padding-left: 15px;
    padding-right: 15px;
}

td:hover {
    background-color: #35373C;
}

td:active {
    background-color: #404249;
}
