<!-- grrr... how to i make the entire background color a color -->

<div  style=" padding-top: 11% ; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; height: 100vh">
<div class="container" style=" background-color: #313338; border-radius: 5px;">

        <h5 style="text-align: center;">
            Create an Account
        </h5>

        <form action="">
            <!-- <div  style="background-color: #313338; border: hidden;"> -->

                <input type="text" [(ngModel)]="displayName" name="displayName" id="text" placeholder="DISPLAY NAME" style="border: hidden; background-color: #1E1F22; border-radius: 3px;" >
            <!-- </div> -->
            <P style="color: white;">
                only display when the cursor is focused on the display name or something idk
            </P>
            <input type="text" [(ngModel)]="username" name="username" id="text" placeholder="USERNAME" style="border: hidden; background-color: #1E1F22; border-radius: 3px;">
            <!-- Do things differ when the type is password vs text or something? -->
            <input type="password" [(ngModel)]="pwd" name="password" id="text" placeholder="PASSWORD" style="border: hidden; background-color: #1E1F22; border-radius: 3px;">
            <p style="color: white">
                testing out different date input options
            </p>
            <input type="date" [(ngModel)]="date" name="password" id="text" placeholder="PASSWORD" style="border: hidden; background-color: #1E1F22; border-radius: 3px;">

            <form>

            </form>
        </form>

        <p style="color: white">
            insert passportjs>
        </p>
        
    </div>
</div>