<!-- grrr... how to i make the entire background color a color -->

<div  style=" padding-top: 11% ; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; height: 100vh">
<div class="container" style=" background-color: #313338; border-radius: 5px;">

        <h5 style="text-align: center;">
            Create an Account
        </h5>

        <form action="">
            
            <label for="display-name" style="color: #B5BAC1;"><b>DISPLAY NAME</b></label>
            <input type="text" [(ngModel)]="displayName" name="displayName" id="text" style=" border: hidden; background-color: #1E1F22; border-radius: 3px;" required>

            <label for="username" style="color: #B5BAC1;"><b>USERNAME <span style="color: #F23F42">*</span></b></label>
            <input type="text" [(ngModel)]="username" name="username" id="text"  style="border: hidden; background-color: #1E1F22; border-radius: 3px;" required>

            <label for="password" style="color: #B5BAC1;"><b> PASSWORD <span style="color: #F23F42">*</span></b></label>
            <input type="password" [(ngModel)]="pwd" name="password" id="text" style="border: hidden; background-color: #1E1F22; border-radius: 3px;" required>

            <label for="birth-date" style="color: #B5BAC1;"><b>DATE OF BIRTH <span style="color: #F23F42">*</span></b></label>
            <input type="date" [(ngModel)]="date" name="password" id="text" style="border: hidden; background-color: #1E1F22; border-radius: 3px;" required>

            <input style="color: black;" type="submit">
        </form>

        <!-- <p style="color: white">
            insert passportjs>
        </p> -->
         
    </div> 
</div>