<!-- Like the main central hub place where things (components) can easily
  be organized -->

<div>

  <div class="row">
    
    <div class="server-column" style="background-color:#aaa">
      <app-server-column></app-server-column>
    </div>
    
    <div class="channel-column">
      <app-channel-column></app-channel-column>
    </div>

    <div class="main-column">
      <p> Message box</p>
      <app-message-box></app-message-box>
    </div>

    <div class="user-column">
      <app-user-column></app-user-column>
    </div>

  </div>
  <!-- <app-main></app-main> -->
</div>